@keyframes appearance {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.store {
    height: var(--dashboard-content-height);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    position: relative;
    animation: appearance 0.6s;
}

.gradient-layer {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent 15%);
    position: absolute;
    z-index: 0;
    display: none;
}

.store-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0.56rem 4rem 0 2.88rem;              /* 0.35vw → 0.56rem | 2.5vw → 4rem | 1.8vw → 2.88rem */
    justify-content: space-between;
    align-items: flex-start;
    /*padding-top: 0.7vh;*/
    position: relative;
}

.store-tab {
    position: relative;
    transition: all 1s;
    /*height: 24px;*/
    height: 2.72rem;                              /* 1.7vw → 2.72rem */
    padding-left: 1.6rem;                         /* 1vw → 1.6rem */
    padding-right: 1.6rem;                        /* 1vw → 1.6rem */
    align-content: center;
    text-align: center;
    cursor: pointer;
    font-size: 0.84rem;
    font-size: 1.52rem;                           /* 0.95vw → 1.52rem */
    letter-spacing: 1px;
    color: var(--color-primary);
    transition: all 0.1s;
    border-image: linear-gradient(to right, transparent, var(--color-primary), transparent) 1;
    font-family: 'Medium';
}

.store-tab:hover {
    color: var(--gold-one);
}

.active-store-tab {
    color: #F0E6D2
}

.active-store-tab::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(to right, transparent, #CDBE91, transparent);
    width: 90%;
    justify-self: center;
}

.sections-items {
    display: flex;
    flex-direction: row;
}

.right-items {
    display: flex;
    position: absolute;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
    top: 0.96rem;                                 /* 0.6vw → 0.96rem */
    right: 3.84rem;                               /* 2.4vw → 3.84rem */
}

.rounded-button {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--color-primary);
    width: 1.7rem;                                /* 1.7vw → 2.72rem (pero en el segundo bloque usas 1.7vw para width y height) */
    height: 1.7rem;                               /* 1.7vw → 2.72rem */
    background-image: linear-gradient(to bottom, var(--gold-four), var(--gold-five));
    clip-path: circle(50%);
    margin-left: 2.72rem;                         /* 1.7vw → 2.72rem */
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.rounded-button:hover {
    color: var(--color-secundary);
    background-image: linear-gradient(to bottom, var(--gold-one), var(--gold-four));
}

.rounded-button::before {
    position: absolute;
    left: 6.5%;
    content: '';
    height: 87%;
    width: 87%;
    background: var(--blue-six);
    clip-path: circle(50%);
    z-index: 0;
    align-self: center;
    justify-self: center;
    place-self: center;
}

.rounded-icon {
    position: absolute;
    font-size: 1.44rem;                           /* 0.9vw → 1.44rem */
}

.store-header .buy-rp-button {
    position: relative;
    height: 3.84rem;                              /* 2.4vw → 3.84rem */
    width: 17.7rem;                              /* 10.7vw → 17.12rem */
    border: 2px solid white;
    margin: 0px;
    font-size: 0.9rem;
    font-size: 1.74rem;                           /* 1.1vw → 1.76rem */
    letter-spacing: 1px;
    border-image: linear-gradient(to bottom, var(--gold-two), var(--gold-four), var(--gold-five)) 1;
    /*background: linear-gradient(to bottom, rgb(40, 30, 30), rgb(40, 30, 30) , rgb(40, 30, 30) , rgb(40, 30, 30));*/
    background: var(--blue-six);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--color-primary);
    font-family: 'Bold';
    transition: color 0.5s;
    transition-delay: 0.2s;
}

.store-header .buy-rp-button:hover {
    color: var(--gold-one);
    border-image: linear-gradient(to bottom, var(--gold-one), var(--gold-four)) 1;
    background: linear-gradient(to bottom, var(--blue-six) 40%, rgb(69, 63, 44) 100%);
}

/* Bloque duplicado en tu código original → lo dejo igual pero convertido */
.rounded-button {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--color-primary);
    width: 2.72rem;                               /* 1.7vw → 2.72rem */
    height: 2.72rem;                              /* 1.7vw → 2.72rem */
    background-image: linear-gradient(to bottom, var(--gold-four), var(--gold-five));
    clip-path: circle(50%);
    margin-left: 2.72rem;                         /* 1.7vw → 2.72rem */
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.rounded-button:hover {
    color: var(--color-secundary);
    background-image: linear-gradient(to bottom, var(--gold-one), var(--gold-four));
}

.rounded-button::before {
    position: absolute;
    left: 6.5%;
    content: '';
    height: 87%;
    width: 87%;
    background: var(--blue-six);
    clip-path: circle(50%);
    z-index: 0;
    align-self: center;
    justify-self: center;
    place-self: center;
}

.rounded-icon {
    position: absolute;
    font-size: 1.6rem;                           /* 0.9vw → 1.44rem */
}

.store .search-filter {
    background: black;
    border-image: linear-gradient(#785A28, var(--gold-five)) 1!important;
    width: 100%;
    /*height: 4.1vh;*/
    height: 3.78rem;                  /* 2.35vw → 3.76rem */
    margin-bottom: 0px;
    font-family: Regular;
    letter-spacing: 1px;
}

.search-filter input {
    width: 100%;
    font-size: 1.5rem;              /* 0.97vw → 1.552rem */
    color: #7a776c;
}

.search-icon {
    color: var(--gold-one);
    font-size: 1.4rem;
    margin-right: 0.96rem;            /* 0.6vw → 0.96rem */
}

@media (max-width: 767px) {
    .store {
        height: var(--dashboard-content-height-mobile);
    }

    .store-header {

    }

    .store-header .buy-rp-button {

    }

    .store .rounded-button {

    }

    .store-tab {

    }

    .active-store-tab::after {

    }
}