.skin-card {
    width: 17.7rem;
    width: 100%;
    aspect-ratio: 16 / 23.5;
    position: relative;
    cursor: pointer;
    /*contain: layout paint;
    transform: translateZ(0);
    pointer-events: auto;
    contain: strict;
    will-change: transform;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.skin-card-border {
    position: absolute;
    color: white;
    stroke: var(--gold-six);
    fill: var(--gold-five);
    stroke-width: 0.2pt;
    z-index: 1;
    width: 101%;
    object-fit: contain;
    bottom: 0;
    transform: translateY(12%);
    max-width: unset;
}
.skin-card:hover .skin-card-image {
    filter: brightness(1.1);
}

.skin-card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 20px;
    filter: brightness(0.8);
}

.skin-card-rarity-image {
    width: 3.2rem;
    position: absolute;
    bottom: -2%;
    z-index: 1;
}

.skin-card.not-obtained {
    border: 0px;
    border-radius: 0px;
}

.skin-card-image.not-obtained {
    filter: brightness(0.6);
    border-radius: 0;
}
.skin-card.not-obtained .skin-card-border {
    filter: brightness(0.6);
}
.skin-card.not-obtained:hover .skin-card-image {
    filter: brightness(1.1);
}
.skin-card .unlock-champion-button {
    z-index: 1;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
}

@media (max-width: 767px) {
    .skin-card-image {
    }

    .skin-card-rarity-image {
    }
}
