.find-match-button-wrapper {
	width: 52rem;
	height: 8rem;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	margin-bottom: 0.5rem;
}
.find-match-button {
    position: absolute;
    height: 5rem;
    width: 24rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.find-match-button-image {
    position: absolute;
    width: 100%;
}
.find-match-button-animation {
    max-width: unset;
    position: absolute;
    width: 120%;
}

.find-match-button-text {
    /*color: #9ec2c2;*/
    font-family: 'Bold';                 /* Fuente oficial de LoL */                    /* Tamaño de fuente base */
    font-size: 1.7rem;                  /* 1.1vw → 1.76rem */
    text-transform: uppercase;           /* Texto en mayúsculas */
    height: 100%;
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #caf8f8;
    pointer-events: none;
    z-index: 1;
}

.find-match-out-button-border {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 3.75rem;
    width: 3.75rem;
    clip-path: circle(50% at 50% 50%);
    background: linear-gradient(to bottom, var(--gold-four), var(--gold-five));
    position: absolute;
    left: 8.5rem;
}

.find-match-out-button {
    width: 87%;
    height: 87%;
    background-color: #1e2328;
    border: 8px solid #1d2124;
    clip-path: circle(50% at 50% 50%);
    cursor: pointer;
    filter: brightness(1.2);
    transition: filter 0.1s;
    color: #CDBE91;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}
.find-match-out-button svg{
    width: 10rem;
    position: absolute;
    fill: #CDBE91;
}
.find-match-out-button-border:hover {
    filter: brightness(1.2);
    background: linear-gradient(to bottom, var(--gold-one), var(--gold-two), var(--gold-four));
}
.find-match-out-button-border:active{
    background: linear-gradient(to bottom, #443616, #6a4f24);
}
.find-match-out-button-border:active .find-match-out-button{
    background-color: #1e2328;
}
.find-match-out-button-border:active .find-match-out-button svg{
    fill: #785a28;
}

.find-match-out-button:hover {
    filter: brightness(1.1);
}

.find-match-button-wrapper.in-queue .find-match-button-text {
	color: #7a7a7a;
}
.find-match-button-wrapper.in-queue .find-match-button {
	pointer-events: none;
}

.footer-wing{
    position: absolute;
    top: 10%;
    width: 15rem;
    pointer-events: none;
}
.footer-wing.left{
    left: 0;
}
.footer-wing.right{
    right: 0;
    transform: scaleX(-1);
}
