.confirm-and-out-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0.1rem solid var(--gold-six);
    box-shadow: 1px 1px 1px black;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    width: 25.3rem;                      /* 16vw → 25.6rem */
    height: 5.2rem;                     /* 3.2vw → 5.12rem */
    position: relative;
    background-color: #010a13;
    padding-right: 0.5rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 0.5rem;
}

.out-button-border {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: white;
    height: 4rem;                     /* 2.6vw → 4.16rem */
    width: 4rem;                      /* 2.6vw → 4.16rem */
    clip-path: circle(50% at 50% 50%);
    z-index: 3;
    background: linear-gradient(to bottom, var(--gold-four), var(--gold-five));
}

.out-button {
    width: 88%;
    height: 88%;
    background-color: #1e2328;
    border: 8px solid #1d2124;
    clip-path: circle(50% at 50% 50%);
    cursor: pointer;
    filter: brightness(1.2);
    transition: filter 0.1s;
    color: var(--color-primary);
    /*font-size: 16px;*/
    font-size: 1.6rem;                   /* 1vw → 1.6rem */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    font-size: 2rem;
}

.out-button-border:hover {
    filter: brightness(1.2);
    background: linear-gradient(to bottom, var(--gold-one), var(--gold-two), var(--gold-four));
}

.out-button:hover {
    filter: brightness(1.1);
}
@property --confirm-button-border-start {
    syntax: '<color>';
    inherits: true;
    initial-value: #0595a9;
}
@property --confirm-button-border-end {
    syntax: '<color>';
    inherits: true;
    initial-value: #0595a9;
}
.confirm-button-rect {
    position: relative;
    border: 0.4rem solid #092834;
    border-left: 0px;
    background-color: #0d141c;
    flex-grow: 1;
    height: 100%;
    align-content: center;
    cursor: pointer;
}
/* Estilo base del botón */
.confirm-button-vector {
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    width: fit-content;
    overflow: visible;
    /*background-color: #1e2328;*/
    height: 4rem;
    top: 0.5rem;
    right: 0.4rem;
    cursor: pointer;
    /*transition: --confirm-button-border-start 0.5s, --confirm-button-border-end 0.5s;*/
}
.confirm-button-vector-border {
    fill: url('#confirmButtonBorderGradient');
    /*fill: #0595a9;*/
}
.confirm-button-vector-background {
    fill: #1e2328;
}
.confirm-button-vector:hover {
    --confirm-button-border-start: #90e1dc;
    --confirm-button-border-end: #12a9bf;
}
.confirm-button-vector:hover .confirm-button-vector-background {
    fill: url('#confirmBackgroundGradient');
}
.confirm-button-vector:hover + .confirm-button-text {
    color: #e6decb;
}

/*Active button styles*/

.confirm-button-vector:active .confirm-button-vector-border {
    fill: url('#confirmActiveBorderGradient');
}
.confirm-button-vector:active .confirm-button-vector-background {
    fill: #1e2328;
}
.confirm-button-vector:active + .confirm-button-text {
    color: #035579;
}

/* Texto del botón */
.confirm-button-text {
    color: #9ec2c2;
    /*padding-bottom: 3px;*/
    font-family: 'Bold';                 /* Fuente oficial de LoL */                    /* Tamaño de fuente base */
    font-size: 1.8rem;                  /* 1.1vw → 1.76rem */
    text-transform: uppercase;           /* Texto en mayúsculas */
    cursor: pointer;                     /* Cursor de puntero */
    overflow: hidden;
    /* background-color: rgba(203, 25, 25 , 0.15); */                       /* antes 225px comentado */
    cursor: pointer;
    text-align: center;
    align-content: center;
    align-items: center;
    z-index: 1;
    width: 100%;
    pointer-events: none;
    position: absolute;
    padding-left: 2.4rem;
    padding-right: 0.5rem;
}

/*.play-button::after {
    content: '';
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #4CAF50;
}*/

/* Efecto de brillo al pasar el mouse */
.play-button::before {
    content: '';
    position: absolute;
    clip-path: ellipse(50% 110% at 50% 50%);
    width: 50%;
    height: 100%;
    background: linear-gradient(to bottom, #08b4b1, #016587);
    left: -46%;
    top: -1px;
}

/* Efecto hover */
.play-button:hover {
    /*background-color: #2d2d2d; /* Fondo más claro */
    box-shadow: 0 0 10px rgba(200, 170, 110, 0.8); /* Sombra dorada */
    /*#f0e6d2; /* Texto más claro */
    /*background-color: rgba(255, 200, 0, 0.1);*/
    background: linear-gradient(to bottom, #1c272e, #113a4e);
    color: #f0e6d2;
}

/* Efecto al hacer clic */
.play-button:active {
    background-color: black !important; /* Fondo oscuro */
    border-color: gray;
}

.box-play-button.selected {
    border-color: rgba(80, 80, 80, 1);
    width: 76%;
    height: 84%;
}

.border-play-button.selected {
    margin-top: 0px;
    background: linear-gradient(to bottom, rgba(200, 50, 50, 1.0), rgba(150, 0, 0, 1.0));
    height: 100%;
    width: 100%;                         /* antes 234px comentado */
    clip-path: unset;
    background: none;
}

.play-button.selected {
    clip-path: unset;
    color: rgba(60, 60, 60, 1.0);
    background-color: rgba(30, 30, 30, 1);
    width: 100%;
    height: 100%;
    padding-right: 0px;
    cursor: default;
}

.play-button.selected:hover {
    box-shadow: unset;
    background: rgba(30, 30, 30, 1.0);
}

.play-button.selected::before {
    background: rgba(80, 80, 80, 1);
    left: -42%;
    top: 0px;
}


@media (max-width: 767px) {

}
