@keyframes softBackground {
    from {
        backdrop-filter: brightness(0.5);
    }
    to {
        backdrop-filter: brightness(1);
    }
}

@keyframes appearance {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.confirm-purchase-screen {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
    width: 100vw;
    z-index: 70;
    animation: softBrackground 5s;
}

.confirm-purchase-window {
    /*height: 70vh;*/
    height: 63.2rem; /* 39.5vw → 63.2rem */
    width: 66.24rem; /* 41.4vw → 66.24rem */
    border: 2px solid white;
    background-color: lightgray;
    z-index: 1;
    border-image: linear-gradient(
            to bottom,
            var(--gold-six),
            var(--gold-six),
            var(--gold-five)
        )
        1;
    background-size: contain;
    background-position-y: 0px;
    background-color: var(--blue-five);
}

.confirm-purchase-window-content {
    background: linear-gradient(to bottom, transparent 1%, var(--blue-five));
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: space-between;
}

.image-container {
    position: relative;
    /*height: 43vh;*/
    height: 60%;
    width: 100%;
}

.gradient {
    position: absolute;
    width: 100%;
    height: 23%;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, var(--blue-five), transparent);
}

.product-image {
    object-position: center;
    object-fit: cover;
    height: 100%;
    width: 100%;
    animation: appearance 0.4s;
}

.exit-button {
    position: absolute;
    background-color: var(--blue-four);
    color: var(--color-secundary);
    height: 5%;
    width: 4.5%;
    right: 1.5%;
    top: 1.5%;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    align-content: center;
    z-index: 1;
    /*font-size: 0.8rem;*/
    font-size: 1.6rem; /* 1vw → 1.6rem */
    font-family: "Bold";
}

.exit-button:hover {
    background-color: var(--blue-five);
    color: white;
}

.product-title {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--gold-six);
    align-items: center;
    width: 93%;
    /*padding-bottom: 1.5vh;*/
    padding-bottom: 1.44rem; /* 0.9vw → 1.44rem */
    position: absolute;
    bottom: 23vh;
    bottom: 34%;
}

.product-name {
    text-align: center;
    font-size: 1.5rem;
    font-size: 2.8rem; /* 1.75vw → 2.8rem */
    letter-spacing: 2px;
    font-family: "Bold";
    color: var(--color-secundary);
    line-height: 1.25;
}

.product-subtitle {
    font-family: "Spiegel-Regular";
    color: #a09b8c;
    font-size: 0.85rem;
    font-size: 1.6rem; /* 1vw → 1.6rem */
}

.product-actions {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: center;
    align-items: center;
    /*background-color: var(--blue-five);*/
}

.license-info {
    color: #a09b8c;
    font-size: 0.9rem;
    font-size: 1.68rem; /* 1.05vw → 1.68rem */
    font-weight: 500;
    text-align: center;
    line-height: 1.5;
    width: 85%;
}

.product-buy-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.more-info {
    color: #0592a5;
}

.more-info-icon {
    display: inline-block;
    transform: rotate(45deg);
}

.more-info:hover {
    color: #cdfafa;
}

.button-container {
    border: 1px solid white;
    height: 6vh;
    height: 5.28rem; /* 3.3vw → 5.28rem */
    width: 16.48rem; /* 10.3vw → 16.48rem */
    border-image: linear-gradient(to bottom, var(--gold-six), var(--gold-five))
        1;
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: center;
    margin: 0px 10px;
    /*margin-top: 1.5vh;*/
    margin-top: 2.1%;
    margin-bottom: 9%;
}

.buy-rp-button,
.buy-be-button {
    position: relative;
    height: 4.5rem;
    width: 15.7rem;
    border: 2px solid white;
    font-size: 15px;
    font-size: 1.68rem; /* 1.05vw → 1.68rem */
    border-image: linear-gradient(
            to bottom,
            var(--gold-two),
            var(--gold-two),
            var(--gold-five)
        )
        1;
    background: linear-gradient(to bottom, rgb(37, 34, 27), rgb(64, 56, 41));
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: Bold;
    letter-spacing: 1px;
    color: var(--color-primary);
    animation: appearance 0.4s ease-in;
}

.buy-rp-button:hover,
.buy-be-button:hover {
    filter: brightness(1.2);
    color: rgb(235, 225, 204);
    background: linear-gradient(
        to bottom,
        rgb(45, 41, 32),
        rgb(60, 54, 41),
        rgb(77, 67, 49)
    );
    border-image: linear-gradient(
            to bottom,
            rgb(240, 204, 132),
            rgb(240, 204, 132),
            rgb(145, 109, 49)
        )
        1;
}

.buy-rp-button:active,
.buy-be-button:active {
    border: 2px solid rgb(105, 79, 42);
    background: linear-gradient(to bottom, rgb(37, 34, 27), rgb(64, 56, 41));
}

.rp-icon,
.be-icon {
    margin-right: 5px;
}

.new-balance {
    width: 100%;
    position: absolute;
    bottom: -30px;
    bottom: -90%;
    /*font-size: 0.75rem;*/
    font-size: 1.36rem; /* 0.85vw → 1.36rem */
    text-align: center;
    white-space: nowrap;
}
.purchase-success-message {
    color: #a09b8c;
    font-family: Spiegel-Regular;
    font-size: 1.5rem;
    margin: auto;
}

@media (max-width: 767px) {
}
