.mobile-header{
	width: 100%;
	height: var(--dashboard-header-height-mobile);/*11.4vh*/;
	position: fixed;
	padding-left: 1.8vw;
	padding-right: calc(1.8vw + 4px);
	align-items: center;
	border-bottom: 1px solid rgba(200, 200, 200, 0.3);
  	border-top: 2px solid rgb(120, 90, 40);
	background-color: rgba(1, 10, 19, 0.9);
	display: flex;
	justify-content: space-between;
	position: fixed; top: 0px;
  	user-select: none;
  	z-index: 5;
  	transition: padding 0.3s;
}
.mobile-header-tabs {
	display: flex;
	width: 45%;
	justify-content: space-between;
}
@keyframes open-nav {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.mobile-navigation-window {
	display: flex;
	position: fixed;
	top: var(--dashboard-header-height-mobile);
	left: 0;
	width: 100%;
	background-color: rgba(1, 10, 19, 0.9);
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	z-index: 100;
	padding-bottom: 1.5vh;
	z-index: -1;
	animation: open-nav 0.4s;
	border-bottom: 1px solid var(--gold-five);
}
.mobile-header .item {
	font-size: 2.5rem;
	width: fit-content;
}

.mobile-navigation-window .item{
	text-align: center;
	align-content: center;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;


}
.mobile-navigation-window .item svg{
	width: 2.5rem;
	fill: var(--gold-two);
}
.mobile-navigation-window .item:hover svg{
	fill: var(--gold-one);
}
