@keyframes appearance {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 1;
    }
}
.collection {
    height: var(--dashboard-content-height);
    width: 100%;
    overflow: hidden;
    animation: appearance 0.6s;
    pposition: relative;
}
.collection-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 4rem; /* 2.5vw = 40px at 1600px */
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 0.9rem; /* 0.44vw = 7.04px at 1600px */
    height: 4.4rem; /* 2.8vw = 44.8px at 1600px */
    --collection-header-height: 4.4rem;
    position: absolute;
    overflow: hidden;
}

.collection-tab {
    position: relative;
    box-sizing: border-box;
    transition: all 1s;
    height: 2.7rem; /* 1.7vw = 27.2px at 1600px */
    padding-left: 1.5rem; /* 1vw = 16px at 1600px */
    padding-right: 1.5rem;
    align-content: center;
    text-align: center;
    cursor: pointer;
    font-size: 1.5rem; /* 0.95vw = 15.2px at 1600px */
    letter-spacing: 1.5px;
    color: #c5b78c;
    transition: color 0.1s;
    border-image: linear-gradient(
            to right,
            transparent,
            var(--color-primary),
            transparent
        )
        1;
    font-family: "Medium";
}
.collection-header .collection-tab:active {
    color: var(--gold-four);
}
.collection-header .active-collection-tab:active {
    color: #f0e6d2;
}
.collection-tab:hover {
    color: var(--gold-one);
}
.active-collection-tab {
    color: #f0e6d2;
}

.active-collection-tab::after {
    content: "";
    position: absolute;
    bottom: -0.1rem;
    left: 0;
    right: 0;
    height: 0.2rem;
    background: linear-gradient(to right, transparent, #cdbe91, transparent);
    width: 90%;
    justify-self: center;
}

.collection .search-filter {
    background: #000407;
    border-image: linear-gradient(#785a28, var(--gold-five)) 1;
    width: 100%;
    /*height: 4.1vh;*/
    height: 4rem; /* 2.35vw → 3.76rem */
    margin-bottom: 0px;
    font-family: Regular;
    letter-spacing: 1px;
    font-size: 0.78rem;
    border: 1px solid #785a28;
    margin-top: 0px;
    padding-left: 10px;
    color: #999486;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-family: "Spiegel-Regular";
}
.collection .search-filter:focus-within {
    background: linear-gradient(
        to bottom,
        #07111a,
        #0e171f,
        #151e25
    ) !important;
    border-image: linear-gradient(to bottom, #6c5227, #907747, #c4a66c) 1;
}
.collection .checkbox:hover {
    color: var(--gold-one);
}
.collection .checkbox:hover .custom-checkbox {
    border-color: var(--gold-five);
}

.search-filter input {
    width: 100%;
    font-size: 1.5rem; /* 0.97vw → 1.552rem */
    color: #999486;
}
.search-filter input::placeholder {
    color: #9f9a8b;
}

.search-icon {
    color: var(--gold-one);
    font-size: 1.5rem;
    margin-right: 0.96rem; /* 0.6vw → 0.96rem */
}

.checkbox:hover {
    color: var(--gold-one);
    background-color: rgba(255, 255, 255, 0.15);
}

.collection .checkbox {
    background: 0;
    border: 0;
    margin: 0px;
    padding: 0;
    height: 5.4rem; /* 3.2vw → 5.12rem */
    /*font-size: 0.8rem;*/
    font-size: 1.5rem; /* 0.97vw → 1.552rem */
    letter-spacing: 0.1rem;
    color: #a09b8c;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.custom-checkbox {
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid var(--gold-six);
    margin-right: 1rem;
    width: 1.6rem;
    height: 1.6rem;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-icon {
    color: var(--gold-two);
    font-size: 1.4rem;
}

@media (max-width: 767px) {
    .bag-header {
    }
    .collection {
        height: var(--dashboard-content-height-mobile);
    }
    .collection-tab {
    }
    .active-collection-tab::after {
    }
}
