.skins-grid-container {
    flex-grow: 1;
    overflow: auto;
    padding-right: 3.3rem;
    margin-top: 5rem;
    padding-bottom: 4rem;
    scrollbar-gutter: stable;
}
.champions-grid-container {
    flex-grow: 1;
    overflow: scroll;
    scrollbar-gutter: stable;
    padding-right: 3.5rem;
}
.skins-section-header {
    font-family: Bold;
    color: var(--color-secundary);
    line-height: 1;
    font-size: 2.3rem;
    letter-spacing: 1px;
    align-items: center;
    align-content: center;
    display: flex;
    height: 2rem;
    text-transform: uppercase;
}
.champions-section-header {
    font-family: Bold;
    color: var(--color-secundary);
    line-height: 1;
    font-size: 2.3rem;
    letter-spacing: 1px;
    align-items: center;
    align-content: center;
    display: flex;
    height: 8rem;
    padding-left: 1.5rem;
    text-transform: uppercase;
}

.apologize-message {
    align-self: center;
    justify-self: center;
    place-self: center;
    text-align: center;
    margin: auto;
    font-family: Bold;
    font-size: var(--font-2xl); /* antes 1.2vw ≈ 1.92rem, pero es variable */
    color: var(--color-secundary);
}

.virtual-store-grid {
    flex-grow: 1;
    overflow: auto;
    padding-right: 2.85rem;
    scrollbar-gutter: stable;
    overflow-x: hidden;
}

@media (max-width: 767px) {
}
