@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes delay {
    0% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.loading-overlay {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.loading-wrapper {
    width: 10rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    animation: delay 1s;
}
.loading-svg {
    animation: rotation 9s;
    width: 9rem;
}
.loading-1 {
    stroke-dasharray: 1.99 6.95;
    stroke-width: 7px;
    fill: green;
}
.loading-1,
.loading-2 {
    fill: none;
    stroke: var(--gold-five);
    stroke-miterlimit: 10;
    stroke-width: 7px;
}

@keyframes rotateStop {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(45deg);
    }
    50% {
        transform: rotate(45deg);
    }
    75% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(90deg);
    }
}
.loading-square-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading-square {
    border: solid 0.4rem var(--gold-five);
    /*border-image: linear-gradient(to bottom, var(--gold-one), var(--gold-two)) 1;*/
    height: 4.5rem;
    width: 4.5rem;
    margin: auto;
    animation: rotateStop 1.5s infinite ease-out;
}
.loading-text {
    color: var(--gold-one);
    font-size: 1.3rem;
    margin-top: 2vw;
    font-family: Regular;
    display: none;
}
