.settings-modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    z-index: 65;
    background: rgba(0, 0, 0, 0.6);
    --blue-one: #010a13;
    --gray-one: #a09b8c;
    --gray-two: #7d7b72;
    --gray-two-hover: #d0c9b8;
}
.settings-panel {
    width: 87.36rem;
    height: 72.8rem;
    border: 2px solid var(--gold-six);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--blue-five);
    color: white;
    animation: appearance 0.15s;
}
.settings-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 12%;
    border-bottom: 1px solid rgba(50, 50, 50, 1);
    padding-right: 2.7%;
    padding-left: 1.4%;
}
.settings-header-tittle {
    font-family: Bold;
    font-size: 2.2rem;
    color: var(--gray-one);
}
.settings-restore-button {
    font-family: Spiegel-Regular;
    text-transform: unset;
    border-width: 1px;
    letter-spacing: 0.1rem;
    height: 4rem;
    width: 20rem;
    font-size: 1.5rem;
    background-color: var(--blue-six);
}
.settings-main {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-grow: 1;
}
.settings-category-selector {
    width: 24%;
    height: 100%;
    padding-top: 2rem;
}
.setting-category-item {
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.setting-category-item-name {
    font-family: "Bold";
    font-size: 1.7rem;
    margin-left: 2rem;
    color: var(--gold-two);
}
.setting-category-item.selected .setting-category-item-name {
    color: var(--gold-one);
}
.selected-reference-bar {
    height: 100%;
    width: 0.5rem;
    background: var(--gold-four);
}
.settings-parameters {
    display: flex;
    flex-direction: column;
    width: 76%;
    height: 100%;
    padding-top: 1rem;
    font-family: Spiegel-Regular;
}
.settings-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.7rem;
}
.settings-checkbox .custom-checkbox {
    cursor: pointer;
}
.settings-checkbox .custom-checkbox:hover {
    border-image: linear-gradient(to bottom, var(--gold-six), var(--gold-five))
        1;
}

.audio-settings {
    --gold-settings: #ba9139;
    display: flex;
    flex-direction: column;
    border-left: 0.6rem solid var(--gold-five);
    padding-top: 1.1rem;
    padding-left: 2.9rem;
    height: 100%;
    width: 100%;
}
.master-sound-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;
}
.secondary-controls {
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
}
.sub-volume-controls {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    margin-bottom: 0.5rem;
}
.audio-label {
    color: var(--gray-one);
    font-size: 1.6rem;
    transition: color 0.2s;
}
.audio-input {
    width: 70%;
}

input[type="range"] {
    -webkit-appearance: none; /* Chrome, Safari, Edge */
    appearance: none;
    background: transparent; /* Opcional: hace transparente la pista */
}

.audio-settings input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 1.9rem;
    width: 1.9rem;
    transform: rotate(45deg);
    background: var(--blue-five);
    border: 0.3rem solid var(--gold-five); /* Color del botón */
    border-image: linear-gradient(
            120deg,
            var(--gold-five),
            var(--gold-four),
            var(--gold-five)
        )
        1;
    cursor: pointer;
    margin-top: -8.5px; /* Ajusta la posición vertical para centrarlo en el track de 3px */
}
.audio-settings input[type="range"]::-moz-range-thumb {
    height: 2rem;
    width: 2rem;
    background: #007bff; /* Color del botón */
    cursor: pointer;
    border-radius: 50%;
}

.audio-settings input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.3rem; /* Grosor de la barra */
    cursor: pointer;
    background: linear-gradient(
        to right,
        var(--gold-six),
        var(--gold-five)
    ); /* Color de la barra inactiva */
    border-radius: 1px;
    margin-bottom: 1rem;
    margin-top: 1.6rem;
    transition: background 0.1s;
}

.audio-settings input[type="range"]::-moz-range-track {
    width: 100%;
    height: 0.3rem;
    cursor: pointer;
    background: #ddd;
    border-radius: 1px;
}

.master-sound-control.muted input[type="range"]::-webkit-slider-runnable-track {
    background: #1a1f25;
    cursor: default;
    height: 0.3rem;
}
.master-sound-control.muted input[type="range"]::-webkit-slider-thumb {
    border-image: unset;
    border-color: #5c5b57;
    cursor: default;
}
.master-sound-control.muted .audio-label {
    color: #504d46;
}
